a {
    text-decoration: none;
}

#eventCalendar{
    width: 200px;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
}
#calendarSlider{
    position: relative;
    min-height: 260px;
}
#weekDays{
    list-style: none;
    margin: 0;
    padding: 0;
}
#weekDays li{
    width: 14.28%;
    text-align: center;
    float: left;
}
#month{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.eventCal {
    width: 14.28%;
    background: #eee;
    text-align: center;
    float: left;
}
.eventCal a{
    display: block;
    line-height: 28px;
    font-size: 0.8em;
    border: solid 1px;
    border-color: #fff #bcbcbc #bcbcbc #eee;
}
.empty{
    min-height: 29px;
    background-color: #ccc;
}
.event{
    background-color: #32CD32;
}
.active a{
    background-color: #2e81fe;
    color: #fff;
}
#Day-events-content{
    clear: both;
}
#Day-events-content ul{
    padding: 0;
    margin: 0;
}
#Day-events-content a{
    display: block;
}
#Day-events-content p{
    text-align: justify;
}
.hidden{
    display: none;
}
.today {
    background-color: #ccc;
}
#calendarNav{
    padding: 0;
    margin: 0;
}
#calendarNav li{
    text-align: center;
    display: inline-block;
    width: 32%;
}