a {
    text-decoration: none;
    color: #333;
}

#eventCalendar{
    width: 300px;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid #bcbcbc;
}
#calendarSlider{
    min-height: 100px;
    position: relative;
}
#weekDays{
    list-style: none;
    margin: 0;
    padding: 0;
}
#weekDays li{
    width: 14.28%;
    text-align: center;
    float: left;
    border-top: 1px solid #bcbcbc;
    line-height: 28px;
}
#calendarPage {
    background: linear-gradient(0deg,#bfbfbf,#fff);
    width: 100%;
    float: left;
}
#month{
    list-style: none;
    padding: 0;
}

.eventCal {
    width: 14.28%;
    text-align: center;
    float: left;
}
.eventCal a{
    display: block;
    line-height: 28px;
    font-size: 0.8em;
    border: solid 1px;
    border-color: #f2f2f2 #c9c9c9 #c9c9c9 #f2f2f2;
}
.empty{
    min-height: 29px;
}
.event{
    background-color: #32CD32;
}
.active a{
    background-color: #2e81fe;
    color: #fff;
}
#Day-events-content{
    float: left;
    padding: 10px;
}
#Day-events-content ul{
    padding: 0;
    margin: 0;
}
#Day-events-content li {
    padding: 5px 0;
}
#Day-events-content a{
    display: block;
}
#Day-events-content p{
    text-align: justify;
}
.hidden{
    display: none;
}
.today {
    background-color: #ccc;
}
#calendarNav{
    padding: 0;
    margin: 0;
    line-height: 28px;
}
#calendarNav li{
    text-align: center;
    display: inline-block;
    width: 32%;
}